img{border:0;}
@media print{
*{color:#000!important;text-shadow:none!important;background:transparent!important;box-shadow:none!important;}
img{page-break-inside:avoid;}
img{max-width:75%!important;}
p,h2{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{color:#428bca;text-decoration:none;}
a:hover,a:focus{color:#2a6496;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
h2{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;line-height:1.1;color:inherit;}
h2{margin-top:20px;margin-bottom:10px;}
h2{font-size:30px;}
p{margin:0 0 10px;}
.text-center{text-align:center;}
.col-sm-4,.col-sm-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-sm-4,.col-sm-9{float:left;}
.col-sm-9{width:100%;}
/*
.col-sm-4{width:33.33333333333333%;}
*/
.col-sm-4{width:25%;}
}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.428571429;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.btn:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:hover,.btn:focus{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);}
.btn-default{color:#333;background-color:#fff;border-color:#ccc;}
.btn-default:hover,.btn-default:focus,.btn-default:active{color:#333;background-color:#ebebeb;border-color:#adadad;}
.btn-default:active{background-image:none;}
a:hover{outline:none;text-decoration:none;}
a:focus{outline:none;outline-offset:0;}
a{-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;}
h2{font-family:'Roboto',sans-serif;}
.btn:hover,.btn:focus{outline:none;box-shadow:none;}
.padding-right{padding-right:0;}
.features_items{overflow:hidden;}
.product-image-wrapper{border:1px solid #F7F7F5;overflow:hidden;margin-bottom:30px;}
.single-products{position:relative;}
.productinfo h2{color:#FE980F;font-family:'Roboto',sans-serif;font-size:24px;font-weight:700;}
.productinfo p{font-family:'Roboto',sans-serif;font-size:18px;font-weight:400;color:#696763;}
.productinfo img{width:100%;}
.productinfo{position:relative;}
.add-to-cart{background:#F5F5ED;border:0 none;border-radius:0;color:#696763;font-family:'Roboto',sans-serif;font-size:15px;margin-bottom:25px;}
.add-to-cart:hover{background:#FE980F;border:0 none;border-radius:0;color:#FFF;}
.add-to-cart:hover{background:#FE980F;color:#FFF;}
@media (min-width:768px) and (max-width:991px){
.features_items .col-sm-4{width:50%;}
}
@media (max-width:480px){
.features_items{margin-top:30px;}
}